:root {
  --text-color: #ffffff;
  --blue: #48b0e9;
  --light-blue: #6fbbe4;
  --dark-blue: #0a84c7;
  --dark-blue-selected: #0974af;
  --dark-blue-hover: #08699d;
}

* {
  font-weight: bold;
  color: var(--text-color);

  & .icon {
    filter: invert(96%) sepia(4%) saturate(16%) hue-rotate(168deg)
      brightness(104%) contrast(107%);
    height: auto;
  }

  & button {
    border: none;
    background-color: inherit;
    cursor: pointer;
  }

  &.hidden {
    visibility: hidden;
  }
}

body {
  background-color: var(--blue);
  position: relative;

  & .main-content {
    padding: 30px 0;

    & > div {
      margin: auto;
    }

    & .open-sidebar-btn {
      margin-left: 25px;
      width: 65px;
      align-self: flex-start;
    }

    & .header {
      width: 80%;
      margin-bottom: 50px;
      display: grid;
      grid-template-columns: minmax(400px, 1fr) minmax(350px, 3fr);
      position: relative;

      & .temp.current {
        font-size: 72px;
        align-self: end;
        margin-bottom: -20px;
      }

      & .location-name {
        text-wrap: nowrap;
        font-size: 38px;
      }

      & .temp-info {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
      }

      & .icon.weather {
        grid-area: 1 / 2 / 4 / 3;
        justify-self: end;
        width: 250px;
      }

      & .temp-converter-btn {
        position: absolute;
        top: 55px;
        left: 150px;
        width: 225px;
        border: 3px solid #FFFFFF;
        padding: 1px 15px;
        font-size: 30px;
      }
    }

    & .weather-info {
      width: max(850px, 85%);
      background-color: var(--light-blue);
      border-radius: 15px;
      padding: 15px 30px;

      & .icon {
        width: 50px;
      }

      &.hourly {
        margin-bottom: 35px;
        display: flex;
        gap: 40px;
        overflow: scroll;

        & .entry {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 2px;

          & .time {
            font-size: 18px;
            text-wrap: nowrap;
          }

          & .temp {
            font-size: 22px;
          }
        }
      }

      &.daily {
        & .entry {
          display: flex;
          justify-content: space-between;
          align-items: center;

          & + .entry {
            margin-top: 25px;
          }

          & .week-day {
            font-size: 25px;
          }

          & .sub-info {
            display: flex;
            align-items: center;
            gap: 20px;

            & .rain-percentage,
            .temp {
              font-size: 23px;
            }
          }
        }
      }
    }
  }

  & .locations-sidebar {
    width: max(525px, 30%);
    height: 100%;
    background-color: var(--dark-blue);
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;

    & .heading {
      padding: 25px 35px 10px;
      display: flex;
      align-items: center;
      gap: 10px;

      & .heading-text {
        font-size: 35px;
        margin-right: auto;
      }

      & .icon {
        width: 65px;
      }
    }

    & .tab {
      font-size: 30px;
      padding: 10px 42px;

      & button {
        &:first-of-type {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 15px;
        }
      }

      &.location {
        display: flex;
      }

      &:hover {
        background-color: var(--dark-blue-hover) !important;
      }

      &.selected {
        background-color: var(--dark-blue-selected);
      }
    }
  }

  & .new-location-prompt {
    width: 100%;
    height: 100%;
    background-color: var(--dark-blue);
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;

    & .new-location-form {
      width: max(450px, 60%);
      height: 600px;
      background-color: var(--blue);
      border-radius: 25px;
      text-align: center;
      padding: 50px;

      & .form-title {
        font-size: 40px;
        margin-bottom: 30px;
      }

      & .form-field {
        margin-bottom: 20px;

        & label,
        input {
          display: block;
          width: 100%;
        }

        & label {
          text-align: left;
          font-size: 30px;
        }

        & input {
          background-color: inherit;
          border: 3px solid #ffffff;
          padding: 10px;

          &:focus {
            outline: none;
          }
        }
      }

      & .enter-btn {
        margin-top: 30px;
        font-size: 30px;
        width: max(200px, 20%);
        border: 3px solid #ffffff;
        padding: 5px;
      }

      & .error-text {
        margin-top: 20px;
        font-size: 30px;
      }
    }
  }
}
