:root {
  --text-color: #ffffff;
  --blue: #48b0e9;
  --light-blue: #6fbbe4;
  --dark-blue: #0a84c7;
  --dark-blue-selected: #0974af;
}

* {
  font-weight: bold;
  color: var(--text-color);

  & .icon {
    filter: invert(96%) sepia(4%) saturate(16%) hue-rotate(168deg)
      brightness(104%) contrast(107%);
    height: auto;
  }

  & button {
    border: none;
    background-color: inherit;
    cursor: pointer;
  }
}

body {
  background-color: var(--blue);
  padding: 30px 50px;

  & .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .open-sidebar-btn {
      width: 65px;
      align-self: flex-start;
    }

    & .header {
      width: 80%;
      margin-bottom: 50px;
      display: grid;
      grid-template-columns: minmax(375px, 1fr) minmax(375px, 2fr);

      & .temp.current {
        font-size: 72px;
        align-self: end;
        margin-bottom: -20px;
      }

      & .location-name {
        font-size: 38px;
      }

      & .temp-info {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
      }

      & .icon.weather {
        grid-area: 1 / 2 / 4 / 3;
        justify-self: end;
        width: 250px;
      }
    }
  }

  & .weather-info {
    width: 90%;
    background-color: var(--light-blue);
    border-radius: 15px;
    padding: 15px 30px;

    & .temp {
      font-size: 20px;
    }

    & .icon.weather {
      width: 50px;
    }

    &.hourly {
      display: flex;
      gap: 40px;
      overflow: scroll;

      & .entry {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;

        & .time {
          text-wrap: nowrap;
        }
      }
    }
  }
}
